.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
install-sh
libmtckd.la
libtool
ltmain.sh
m4/
missing
.deps/
.dirstamp
*.lo
*.o
test-driver
test-suite.log
tests/*.log
tests/*.trs
*.mod
*__genmod.f90
continuum
tests/CNTNM.OPTDPT
tests/WATER.COEF
